@using Microsoft.AspNetCore.Http;
@using System.Text;
<!--
    Name: Index
    Date Last Updated: 4-30-2020
    Programmer Names: Justin Tran, Corey Stock
    Description: This file displays the front-end UI that all of the razor pages share, especially
                 the top navigation bar and the footer bar
    Important Methods/Structures/Etc: <nav .. >  .... </nav>,
                                      RenderBody (in <main> ... </main>)
        Lines 55-78: Displays the 'Logout' button or 'Login' and 'Signup'
        buttons based on the user's login state
    Major Decisions: N/A
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flights "R" Us</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><strong>Flights "R" Us</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                 
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <!-- List of items on left side of navigation bar -->
                        <li class="nav-left">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Book</a>
                        </li>
                        <li class="nav-left">
                            <a class="nav-link text-dark" asp-area="" asp-page="/My_Trips">My Trips</a>
                        </li>
                        <li class="nav-left">
                            <a class="nav-link text-dark" asp-area="" asp-page="/FlightStatus">Flight Status</a>
                        </li>

                    </ul>
                </div>
                
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @{
                            byte[] userbytes;

                            // Checks the session to see if the user is logged
                            // in.
                            if ( @Context.Session.TryGetValue("loggedInUser", out userbytes))
                            {
                                string userString = Encoding.Default.GetString(userbytes);

                                <li class="nav-right">
                                    <p>@userString</p>
                                </li>
                                <li class="nav-right">
                                    <a class="nav-link text-dark"
                                    asp-page="/Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-right">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/SignUp">Sign Up</a>
                                </li>
                                <li class="nav-right">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/LogIn">Log In</a>
                                </li>
                            }
                        }
                        <!-- List of items on left side of navigation bar -->
                        
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WhiteRiceBooking - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Includes static JavaScript files for use -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

