@page
@model IndexModel
@{
    ViewData["Title"] = "Book Flights page";
}

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="text-center">
    <form method="get">
        <!-- Dropdown menu for Trip Type (Round Trip or One-way) -->
        <div class="item">
            <!-- <label for="">Choose a car:</label> -->
            <select id="trip_type" name="TripType">
                <option selected value="" disabled>Trip Type</option>
                <option value="T">Round Trip</option>
                <option value="O">One Way</option>
            </select>

    <!-- DELETE <br><br> LATER (IF TIME PERMITS) -->
            <br><br>
        </div>

        <!-- Dropdown menu for Departing Location (Airport Name) -->
        <div class="item">
            <!-- <label for="">Choose a car:</label> -->
            
            <select id="dep_loc_airport" name="DepartAirport">
                <option selected value="" disabled>Departing Location</option>
                <option value="SFO">San Francisco International Airport</option>
                <option value="LAX">Los Angeles International Airport</option>

                <option value="DEA">Seattle Tacoma International Airport</option>
                <option value="DFW">Dallas Fort Worth International Airport</option>

                <option value="ATL">Hartsfield Jackson Atlanta International Airport</option>
                <option value="DEN">Denver International Airport</option>

                <option value="JFK">John F Kennedy International Airport</option>
                <option value="ORD">Chicago O'Hare International Airport</option>

                <option value="LAS">McCarran International Airport</option>
                <option value="MCO">Orlando International Airport</option>
            </select>

    <!-- DELETE <br><br> LATER (IF TIME PERMITS) -->
            <br><br>
        </div>


        <!-- Dropdown menu for Arrival Location (Airport Name) -->
        <div class="item">
            <!-- <label for="">Choose a car:</label> -->
            <select id="arr_loc_airport" name="ArrivalAirport">
                <option selected value="" disabled>Arrival Location</option>
                <option value="SFO">San Francisco International Airport</option>
                <option value="LAX">Los Angeles International Airport</option>

                <option value="DEA">Seattle Tacoma International Airport</option>
                <option value="DFW">Dallas Fort Worth International Airport</option>

                <option value="ATL">Hartsfield Jackson Atlanta International Airport</option>
                <option value="DEN">Denver International Airport</option>

                <option value="JFK">John F Kennedy International Airport</option>
                <option value="ORD">Chicago O'Hare International Airport</option>

                <option value="LAS">McCarran International Airport</option>
                <option value="MCO">Orlando International Airport</option>
            </select>

    <!-- DELETE <br><br> LATER (IF TIME PERMITS) -->
            <br><br>
        </div>


        <!-- Input box for Depart Date -->
        @*<div class="item">
            <label for="depart_date">Depart Date:</label>

    <!-- DELETE <br> LATER (IF TIME PERMITS) -->
            <br>
            <input id="depart_date" type="date" name="depart_date" />
            <i class="fas fa-calendar-alt"></i>
    <!-- DELETE <br><br> LATER (IF TIME PERMITS) -->
            <br><br>
        </div>*@


        <!-- Input box for Return Date -->
        @*<div class="item">
            <label for="return_date">Return Date:</label>

    <!-- DELETE <br> LATER (IF TIME PERMITS) -->
            <br>
            <input id="return_date" type="date" name="return_date" />
            <i class="fas fa-calendar-alt"></i>
        </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.depart_date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.depart_date, new { @type="date", @class = "form-control datepicker",  
                                                                 @Value = Model.depart_date.ToString("yyyy-MM-dd") } )
                    @Html.ValidationMessageFor(model => model.depart_date, "", new { @class = "text-danger" })
                </div>
        </div>*@

        <div class="item">
            <label for="depart_date">Depart Date<span>*</span></label>
            <input type="text" name="depart_date" placeholder="YYYY-MM-DD"/>
        </div>

        <div class="item">
            <label for="return_date">Return Date<span>*</span></label>
            <input type="text" name="return_date" placeholder="YYYY-MM-DD"/>
        </div>
        
    <!-- DELETE <br><br> LATER (IF TIME PERMITS) -->
        <br><br>              

        <input type="submit" value="Submit">
    </form>
</div>

<div>
    @foreach (var flight in @Model.availableFlights){
        <h5>
            @flight.Flight_ID
            @flight.Seats
            @flight.Date
            @flight.Time
        </h5>
    }
</div>

