@page
@model MyTripsModel
@{
    ViewData["Title"] = "My Trips"; // Adds "My Trips" to ViewData dictionary
}

<!--
    Name: My Trips
    Date Last Updated: 4-30-2020
    Programmer Names: Justin Tran
    Description: This file generates the front-end UI for a page that displays all of the
                 flight reservation information and allows the user to cancel or modify an 
                 existing flight reservation.
    Important Methods/Structures/Etc: 
            - HTML Tags - <button type="button" class="btn btn-primary" data-toggle="modal" 
                                data-target="#cancelFlight">Cancel</button> 
                                (for triggering modal/popup box)
    Major Decisions: N/A
-->

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <!-- Table displaying list of available outgoing/outbound flights -->
        <table style="width:100%">
            <!-- Horizontal line to separate column titles from header at top of webpage -->
            <thead>
                <!-- Row of titles for each column -->
                <tr>
                    <th>Reservation ID</th>
                    <th>Departure Airport Name</th>
                    <th>Departure City</th>
                    <th>Arrival Airport Name</th>
                    <th>Arrival City</th>
                    <th>Departure Date</th> 
                    <th>Departure Time</th>
                </tr>
            </thead>

            @{
                foreach (string[] myTrip in @Model.reservation_info)
                {
                // Row of outgoing/outbound flight information
                <tr>
                    <td>@myTrip[9]</td> @* Reservation ID *@
                    <td>@myTrip[3]</td> @* Departure Airport Name *@
                    <td>@myTrip[4]</td> @* Departure City *@
                    <td>@myTrip[5]</td> @* Arrival Airport Name *@
                    <td>@myTrip[6]</td> @* Arrival City *@
                    <td>@myTrip[7]</td> @* Departure Date *@
                    <td>@myTrip[8]</td> @* Departure Time *@

                    <td>
                        @* Buttons to modify or cancel flight (on the right side of flight data) *@
                        @*<button type="button" class="btn btn-primary">
                            <a asp-page="/ModifyFlight" asp-route-res_ID="@myTrip[9]">Modify</a>
                        </button>     |*@
                        
                        <input type="submit" value="Cancel" class="btn btn-primary" 
                            asp-page-handler="Cancel" asp-route-res_ID="@myTrip[9]"/>
                    </td>
                    
                </tr>
                }
            }    

        </table>
    </form>
</div>

<!-- Link that takes user back to home page -->
<div>
    <a asp-page="/Index">Back to Home</a>
</div>
