@page
@model MyTripsModel
@{
    ViewData["Title"] = "My Trips"; // Adds "My Trips" to ViewData dictionary
}
<h1>@ViewData["Title"]</h1>



<div class="container">
    <h2>Alerts</h2>
    <div class="alert alert-success">
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
    <div class="alert alert-info">
        <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
    </div>
    <div class="alert alert-warning">
        <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
    </div>
    <div class="alert alert-danger">
        <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
    </div>
</div>

<h1>@ViewData["Title"]</h1>


<div>
    <!--<form method="post">-->
    <!-- Table displaying list of available outgoing/outbound flights -->
    <table style="width:100%">
        <!-- Horizontal line to separate column titles from header at top of webpage -->
        <thead>
            <!-- Row of titles for each column -->
            <tr>
                <th>Flight ID</th>
                <th>Departure Airport</th>
                <th>Departure City</th>
                <th>Arrival Airport</th>
                <th>Arrival City</th>
                <th>Date</th> 
                <th>Time</th>
            </tr>
        </thead>

        @foreach (var myTrip in @Model._________)
        {
        // Row of outgoing/outbound flight information
        <tr>
            <td>@myTrip.flight_ID</td>
            <td>@myTrip.DepartureAiport</td>
            <td>@myTrip.DepartureCity</td>
            <td>@myTrip.ArrivalAirport</td>
            <td>@myTrip.ArrivalCity</td>
            <td>@myTrip.Date</td>
            <td>@myTrip.Time</td>
            <td>
                <!--Options to modify or cancel flight (on the right side of flight data)-->
                <a asp-page="./ModifyFlight" asp-route-id="@myTrip.reservation_ID">Modify</a> |
                <a asp-page="./CancelFlight" asp-route-id="@myTrip.reservation_ID">Cancel</a> |
            </td>
        </tr>
        }

    </table>

</div>

